
body {
  color: #fff;
  font-size: 14px;
  font-family: "rubik",-apple-system,BlinkMacSystemFont,"Segoe UI","Roboto","Oxygen","Ubuntu","Cantarell","Fira Sans","Droid Sans","Helvetica Neue",sans-serif;
  }
  
* {
  box-sizing: border-box;
}

.leverage-outer {
  min-width: 540px;
  -moz-box-align: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  /* min-width: 570px; */
}

.leverage-inner {
  display: flex;
  flex-direction: column;
  background-color: rgb(30, 39, 56);
  border-radius: 4px;
  width: 100%;
}

.borrow-tab {
  font-size: 24px;
  text-align: center;
  padding: 16px;

  flex: 0 0 50%;
  /* font-size: 16px; */
  font-weight: 500;
  letter-spacing: -0.75px;
  cursor: pointer;

  /* inactive

font-size: 16px;
color: rgba(255, 255, 255, 0.5);
border-bottom: 1px solid rgba(255, 255, 255, 0.5);

  */
}

.borrow-tab--active {
  /* color: rgb(255, 184, 210); */
  /* color: rgb(105, 226, 219); */
  transition: all 0.2s ease-out 0s;
  /* border-bottom: 1px solid rgb(255, 184, 210); */
  /* border-bottom: 1px solid rgb(105, 226, 219); */
}

.borrow-tab--emerald {
  color: rgb(105, 226, 219);
  border-bottom: 1px solid rgb(105, 226, 219);
}

.borrow-tab--pink {
  color: rgb(255, 184, 210);
  border-bottom: 1px solid rgb(255, 184, 210);
}

.borrow-tab--inactive {
  /* font-size: 16px; */
color: rgba(255, 255, 255, 0.5);
border-bottom: 1px solid rgba(255, 255, 255, 0.5);

}

.leverage-body {
  padding: 60px;
}

.row {
  display: flex;
  flex-direction: column;
}

.row-header {
  display: flex;
  -moz-box-align: center;
  align-items: center;
  font-weight: 500;
  margin-bottom: 12px;
}

.row-header-label {
  opacity: 0.5;
  letter-spacing: 1.833px;
  font-size: 12px;
  font-weight: 500;
  text-transform: uppercase;
}

.row-content {
  display: flex;
  margin-left: 0px;
  font-weight: 500;
  margin-top: 10px;
  color: rgb(230, 230, 230);
}

.row-content-label {
  margin: auto;
  flex-basis: 40%;
}

.row-content-value {
  margin: auto;
-moz-box-flex: 1;
flex-grow: 1;
text-align: right;
flex-basis: 60%;
}

.balance-amount {
  -moz-box-flex: 1;
flex-grow: 1;
}

.text-align-left {
  text-align: left;
}

.text-align-right {
  text-align: right;
}

.eth-balance {
  text-align: right;
}

.color-emerald {
  color: rgb(105, 226, 219);
}

.color-pink {
  color: rgb(255, 184, 210);
}

.price-input-outer {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  color: rgb(230, 230, 230);
}

.price-input-outer--error {
  padding: 2px;
  border-radius: 4px;
  background-color: rgb(226, 105, 105);
  color: rgb(226, 105, 105);
}

.price-input--error {
  color: rgb(226, 105, 105) !important;
}

.svg-inline--fa {
  display: inline-block;
  font-size: inherit;
  height: 1em;
  overflow: visible;
  vertical-align: -0.125em;
}

.svg-inline--fa.fa-w-18 {
  width: 1.125em;
}

svg:not(:root).svg-inline--fa {
  overflow: visible;
}

.price-input-error-message {
  color: black;
  text-align: center;
  font-weight: 500;
  padding: 10px;
}

.price-input-inner {
  display: flex;
  -moz-box-align: center;
  align-items: center;
  border-radius: 4px;
  background-color: rgb(16, 17, 30);
}

.price-input-inner-inner {
  display: flex;
  flex-direction: column;
  -moz-box-flex: 1;
  flex-grow: 1;
  padding: 15px 18px;
  text-align: right;
  cursor: text;
}

.price-input-wrapper {
  font-size: 18px;
  font-weight: 500;
  border-radius: 4px;
  display: flex;
  flex-direction: row;
}

.price-input {
  text-align: right;
  outline: currentcolor none medium;
  background: rgba(0, 0, 0, 0) none repeat scroll 0% 0%;
  border: 0px none;
  color: rgb(230, 230, 230);
  caret-color: rgb(230, 230, 230);
  -moz-box-flex: 1;
  flex-grow: 1;
  margin-right: 3px;
  width: 100%;
  font-size: inherit;
  -moz-appearance: textfield;
}

.priceimpact-input-outer{
  flex-direction: column;
  margin-bottom: 10px;
  color: rgb(230, 230, 230);
}

.priceimpact-input {
  text-align: right;
  outline: currentcolor none medium;
  color: rgb(230, 230, 230);
  border-radius: 4px;
  border: 0px none;
  margin-right:8px;
  font-size: 10;
  background-color: rgb(16, 17, 30);
  height: 25px;
  width: 60px;
}

.priceimpact-options {
  flex-direction: 'row'
}

.rc-slider {
  position: relative;
  height: 14px;
  padding: 5px 0;
  width: 100%;
  border-radius: 6px;
  touch-action: none;
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.rc-slider * {
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.rc-slider-rail {
  position: absolute;
  width: 100%;
  background-color: #e9e9e9;
  height: 4px;
  border-radius: 6px;
}
.rc-slider-track {
  position: absolute;
  left: 0;
  height: 4px;
  border-radius: 6px;
  background-color: #abe2fb;
}
.rc-slider-handle {
  position: absolute;
  width: 14px;
  height: 14px;
  cursor: pointer;
  cursor: -webkit-grab;
  margin-top: -5px;
  cursor: grab;
  border-radius: 50%;
  border: solid 2px #96dbfa;
  background-color: #fff;
  touch-action: pan-x;
}
.rc-slider-handle-dragging.rc-slider-handle-dragging.rc-slider-handle-dragging {
  border-color: #57c5f7;
  box-shadow: 0 0 0 5px #96dbfa;
}
.rc-slider-handle:focus {
  outline: none;
}
.rc-slider-handle-click-focused:focus {
  border-color: #96dbfa;
  box-shadow: unset;
}
.rc-slider-handle:hover {
  border-color: #57c5f7;
}
.rc-slider-handle:active {
  border-color: #57c5f7;
  box-shadow: 0 0 5px #57c5f7;
  cursor: -webkit-grabbing;
  cursor: grabbing;
}
.rc-slider-mark {
  position: absolute;
  top: 18px;
  left: 0;
  width: 100%;
  font-size: 12px;
}
.rc-slider-mark-text {
  position: absolute;
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  cursor: pointer;
  color: #999;
}
.rc-slider-mark-text-active {
  color: #666;
}
.rc-slider-step {
  position: absolute;
  width: 100%;
  height: 4px;
  background: transparent;
}
.rc-slider-dot {
  position: absolute;
  bottom: -2px;
  margin-left: -4px;
  width: 8px;
  height: 8px;
  border: 2px solid #e9e9e9;
  background-color: #fff;
  cursor: pointer;
  border-radius: 50%;
  vertical-align: middle;
}
.rc-slider-dot-active {
  border-color: #96dbfa;
}
.rc-slider-dot-reverse {
  margin-right: -4px;
}
.rc-slider-disabled {
  background-color: #e9e9e9;
}
.rc-slider-disabled .rc-slider-track {
  background-color: #ccc;
}
.rc-slider-disabled .rc-slider-handle,
.rc-slider-disabled .rc-slider-dot {
  border-color: #ccc;
  box-shadow: none;
  background-color: #fff;
  cursor: not-allowed;
}
.rc-slider-disabled .rc-slider-mark-text,
.rc-slider-disabled .rc-slider-dot {
  cursor: not-allowed !important;
}
.rc-slider-vertical {
  width: 14px;
  height: 100%;
  padding: 0 5px;
}
.rc-slider-vertical .rc-slider-rail {
  height: 100%;
  width: 4px;
}
.rc-slider-vertical .rc-slider-track {
  left: 5px;
  bottom: 0;
  width: 4px;
}
.rc-slider-vertical .rc-slider-handle {
  margin-left: -5px;
  touch-action: pan-y;
}
.rc-slider-vertical .rc-slider-mark {
  top: 0;
  left: 18px;
  height: 100%;
}
.rc-slider-vertical .rc-slider-step {
  height: 100%;
  width: 4px;
}
.rc-slider-vertical .rc-slider-dot {
  left: 2px;
  margin-bottom: -4px;
}
.rc-slider-vertical .rc-slider-dot:first-child {
  margin-bottom: -4px;
}
.rc-slider-vertical .rc-slider-dot:last-child {
  margin-bottom: -4px;
}
.rc-slider-tooltip-zoom-down-enter,
.rc-slider-tooltip-zoom-down-appear {
  animation-duration: 0.3s;
  animation-fill-mode: both;
  display: block !important;
  animation-play-state: paused;
}
.rc-slider-tooltip-zoom-down-leave {
  animation-duration: 0.3s;
  animation-fill-mode: both;
  display: block !important;
  animation-play-state: paused;
}
.rc-slider-tooltip-zoom-down-enter.rc-slider-tooltip-zoom-down-enter-active,
.rc-slider-tooltip-zoom-down-appear.rc-slider-tooltip-zoom-down-appear-active {
  animation-name: rcSliderTooltipZoomDownIn;
  animation-play-state: running;
}
.rc-slider-tooltip-zoom-down-leave.rc-slider-tooltip-zoom-down-leave-active {
  animation-name: rcSliderTooltipZoomDownOut;
  animation-play-state: running;
}
.rc-slider-tooltip-zoom-down-enter,
.rc-slider-tooltip-zoom-down-appear {
  transform: scale(0, 0);
  animation-timing-function: cubic-bezier(0.23, 1, 0.32, 1);
}
.rc-slider-tooltip-zoom-down-leave {
  animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
}
@keyframes rcSliderTooltipZoomDownIn {
  0% {
    opacity: 0;
    transform-origin: 50% 100%;
    transform: scale(0, 0);
  }
  100% {
    transform-origin: 50% 100%;
    transform: scale(1, 1);
  }
}
@keyframes rcSliderTooltipZoomDownOut {
  0% {
    transform-origin: 50% 100%;
    transform: scale(1, 1);
  }
  100% {
    opacity: 0;
    transform-origin: 50% 100%;
    transform: scale(0, 0);
  }
}
.rc-slider-tooltip {
  position: absolute;
  left: -9999px;
  top: -9999px;
  visibility: visible;
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.rc-slider-tooltip * {
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.rc-slider-tooltip-hidden {
  display: none;
}
.rc-slider-tooltip-placement-top {
  padding: 4px 0 8px 0;
}
.rc-slider-tooltip-inner {
  padding: 6px 2px;
  min-width: 24px;
  height: 24px;
  font-size: 12px;
  line-height: 1;
  color: #fff;
  text-align: center;
  text-decoration: none;
  background-color: #6c6c6c;
  border-radius: 6px;
  box-shadow: 0 0 4px #d9d9d9;
}
.rc-slider-tooltip-arrow {
  position: absolute;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
}
.rc-slider-tooltip-placement-top .rc-slider-tooltip-arrow {
  bottom: 4px;
  left: 50%;
  margin-left: -4px;
  border-width: 4px 4px 0;
  border-top-color: #6c6c6c;
}


.rc-slider-dot--instyle {
  width: 8px;
  height: 8px;
  /* border-color: rgb(255, 184, 210); */
  border-color: rgb(105, 226, 219);
  border-width: 2px;
  background-color: rgb(30, 39, 56); 
}

.rc-slider-dot--instyle-active {
  width: 12px;
  height: 12px;
  border-color: rgb(21, 27, 40);
  border-width: 3px;
  /* background-color: rgb(255, 184, 210); */
  border-color: rgb(121, 160, 158);
  left: 0%;
  bottom: -4px;
  margin-left: -6px;
}

.rc-slider-handle--instyle {
  background-color: rgb(21, 27, 40);
  /* border-color: rgb(255, 184, 210); */
  border-color: rgb(121, 160, 158);
  border-width: 3px;
  width: 16px;
  height: 16px;
  left: 0%;
  right: auto;
  transform: translateX(-50%);
}

.rc-slider-mark-text-active--instyle {
  transform: translateX(-20%);
  left: 0%;
  font-size: 13px;
  font-weight: 500;
  color: rgb(230, 230, 230);
}

.rc-slider-mark-text--instyle {
  font-size: 13px;
  font-weight: 500;
  color: rgb(230, 230, 230);
  transform: translateX(-50%);
}

.borrow-stat-wrapper {
  display: flex;
  flex-direction: column;
  margin-top: 42px;
}

.rc-slider-outer {
  margin: 12px 4px 50px;
}

.leverage-label {
  margin-bottom: 10px;
  opacity: 0.5;
  letter-spacing: 1.833px;
  font-size: 11px;
  font-weight: 500;
  text-transform: uppercase;
}

.slippage-label {
  margin-bottom: 10px;
  opacity: 0.5;
  letter-spacing: 1.833px;
  font-size: 11px;
  font-weight: 500;
  text-transform: uppercase;
}

.borrow-button {
  width: auto;
padding: 0px 20px;
height: 36px;
line-height: 36px;
font-size: 13px;
border: 0px none;
outline: currentcolor none medium;
border-radius: 4px;
transition: all 0.2s ease-out 0s;
font-weight: 500;
/* background-color: rgb(255, 184, 210); */
/* background-color: rgb(121, 160, 158); */
background-color: rgb(105, 226, 219);
color: black;
opacity: 1;
cursor: pointer;
}

.dEknAC {
  width: auto;
  padding: 0px 20px;
  height: 36px;
  line-height: 36px;
  font-size: 13px;
  border: 0px none;
  outline: currentcolor none medium;
  border-radius: 4px;
  transition: all 0.2s ease-out 0s;
  font-weight: 500;
  background-color: rgb(105, 226, 219);
  color: black;
  opacity: 1;
  cursor: pointer;
}

.eWLxTJ {
  width: 100%;
}

.fVRyQa {
  display: flex;
  -moz-box-align: center;
  align-items: center;
  -moz-box-pack: center;
  justify-content: center;
}

.kjawyH > * {
  margin-top: 6px;
}

.kjawyH > :last-child {
  margin-left: 24px;
}

.cBBNUN {
  height: 24px;
  width: 24px;
  border-radius: 12px;
  background-color: rgb(30, 39, 56);
  margin-right: 12px;
  color: white;
  line-height: 24px;
}

.bn-onboard-custom.bn-onboard-modal-content.bn-onboard-dark-mode{background:#1e2738}.bn-onboard-custom.bn-onboard-icon-button.bn-onboard-dark-mode-background-hover:hover,.bn-onboard-custom.bn-onboard-selected-wallet.bn-onboard-dark-mode-background-hover{background:#151b28}body{background:#000;color:#fff!important;overflow-y:scroll!important;margin:0;font-size:14px;font-family:"rubik",-apple-system,BlinkMacSystemFont,"Segoe UI","Roboto","Oxygen","Ubuntu","Cantarell","Fira Sans","Droid Sans","Helvetica Neue",sans-serif!important;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale}code{font-family:source-code-pro,Menlo,Monaco,Consolas,"Courier New",monospace}a{transition:all .2s ease-out}a,a:focus,a:visited{text-decoration:none;color:#fff}a:active,a:hover{text-decoration:underline;color:#fff;transition:all 0s}th{font-weight:400}input::-webkit-inner-spin-button,input::-webkit-outer-spin-button{-webkit-appearance:none;margin:0}input[type=number]{-moz-appearance:textfield}
/* @font-face{font-family:"rubik";src:local("rubik"),url(https://app.cream.finance/static/media/Rubik-Medium.2263cf4b.ttf) format("truetype");font-weight:500}
@font-face{font-family:"rubik";src:local("rubik"),url(https://app.cream.finance/static/media/Rubik-Regular.a4bece5c.ttf) format("truetype");font-weight:400}
@font-face{font-family:"rubik";src:local("rubik"),url(https://app.cream.finance/static/media/Rubik-Bold.366b50ff.ttf) format("truetype");font-weight:700} */

.modal-appear{opacity:0;-webkit-transform:translate3d(0,100%,0);transform:translate3d(0,100%,0)}.modal-appear-active{opacity:1;-webkit-transform:translateZ(0);transform:translateZ(0);transition:all .2s}.modal-exit{opacity:1}.modal-exit-active{opacity:0;-webkit-transform:translate3d(0,100%,0);transform:translate3d(0,100%,0);transition:all .2s}.market-table .rdt_TableCell{font-weight:500}.rdt_Pagination{display:none!important}.react-date-picker__wrapper{display:none!important;-webkit-flex-grow:1;flex-grow:1;-webkit-flex-shrink:0;flex-shrink:0;border:thin solid grey}.iceCREAM-calendar{background:#000;font-family:inherit}.iceCREAM-calendar .react-calendar__navigation__label{color:#fff;font-weight:500}.iceCREAM-calendar .react-calendar__navigation__arrow{color:#69e2db;font-weight:500}.iceCREAM-calendar .react-calendar__navigation button:enabled:focus,.iceCREAM-calendar .react-calendar__navigation button:enabled:hover{background-color:unset}.iceCREAM-calendar .react-calendar__navigation button[disabled]{background-color:unset;color:hsla(0,0%,90.2%,.3)}.iceCREAM-calendar .react-calendar__tile{background-color:unset;color:#69e2db;font-weight:500}.iceCREAM-calendar .react-calendar__tile:disabled{background-color:unset;color:hsla(0,0%,90.2%,.3)}.iceCREAM-calendar .react-calendar__month-view__days__day--neighboringMonth{color:hsla(0,0%,90.2%,.8)}.iceCREAM-calendar .react-calendar__tile:enabled:focus,.iceCREAM-calendar .react-calendar__tile:enabled:hover{background-color:#fff;color:#000}
/*# sourceMappingURL=main.c1b19222.chunk.css.map */

.flex-container {
  display: flex;
  /* align-content: flex-end; */
  justify-content: flex-end;
}

.position-before {
  width: 45%;
  flex: 0 1 40%;
}
.position-arrow {
  text-align: right;
  width: 1.5rem;
}
.position-after {
  flex: 0 1 40%;
  text-align: right;
}